version: 2.1

orbs:
  shellcheck: circleci/shellcheck@2.1.0

jobs:
  checkout-code:
    steps:
      - checkout
  build-result:
    steps:
      - run: 
          command: sh docker build -t dockersamples/result ./result
  build-vote:
    steps:
      - run: 
          command: sh docker build -t dockersamples/vote ./vote
  build-worker:
    steps:
      - run:
          command: sh docker build -t dockersamples/worker ./worker

# job run sequence
workflows:
  checking:
    jobs:
      - checkout-code
  build:
    jobs:
      - build-result
      - build-vote
      - build-vote
      - build-worker

