name: ci

on:
  push:
    branches: master

jobs:
  #dokcer:
  #  name: Docker Build and Push
  #  runs-on: ubuntu-latest
  #  steps:
  #  - uses: actions/checkout@master
  #  - name: Docker Login
  #    env:
  #      DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
  #      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
  #    run: docker login -u $DOCKER_USER -p $DOCKERHUB_PASSWORD
  #  - uses: actions/checkout@master
  #  - name: Build Result
  #    run: docker build -t santiagomerlo/result:latest ./result
  #  - name: Build Vote
  #    run: docker build -t santiagomerlo/vote:latest ./vote
  #  - name: Build Worker
  #    run: docker build -t santiagomerlo/worker:latest ./worker
  #  - uses: actions/checkout@master
  #  - name: Push Result
  #    run: docker push santiagomerlo/result:latest
  #  - name: Push Vote
  #    run: docker push santiagomerlo/vote:latest
  #  - name: Push Worker
  #    run: docker push santiagomerlo/worker:latest
  #Testing:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build, Push and Deploy to Heroku
        id: heroku
        uses: snithyanantham/docker-compose-multiple-apps-heroku-deploy@v1.0 
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          api_key: ${{ secrets.HEROKU_API_KEY }} 
          docker_compose_file: './docker-compose.yml'
          heroku_apps: '[{"imagename":"result","appname":"is3-result","apptype":"web"},{"imagename":"vote","appname":"is3-vote","apptype":"web"},{"imagename":"worker","appname":"is3-worker","apptype":"worker"}]' # List of Docker Image name, Heroku app and Heroku app type
