name: Microservice

on:
  push:
    branches: master

jobs:
############  BUILDING 
  docker:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Docker Login
      env:
        DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      run: docker login -u $DOCKER_USER -p $DOCKERHUB_PASSWORD
    - uses: actions/checkout@master
    - name: Building
      run: |
        docker build -t santiagomerlo/result:latest ./result
        docker build -t santiagomerlo/vote:latest ./vote
        docker build -t santiagomerlo/worker:latest ./worker
    - name: Pushing 
      run: |
        docker push santiagomerlo/result:latest
        docker push santiagomerlo/vote:latest
        docker push santiagomerlo/worker:latest
############# UNIT TESTING JAVA
############# UNIT TESTING PYTHON
#############  DEPLOY 
  deployWorker:
    name: Deploy Worker in Heroku
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to Heroku Container registry
        env: 
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:login 
      - name: Build and Push
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          cd ./worker
          heroku container:push -a is3-worker web
      - name: Release
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:release -a is3-worker web 
  deployVote:
    name: Delpoy Vote in Heroku
    runs-on: ubuntu-latest
    needs: [deployWorker]
    steps:
      - uses: actions/checkout@v2
      - name: Login to Heroku Container registry
        env: 
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:login 
      - name: Build and Push
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          cd ./vote
          heroku container:push -a is3-vote web
      - name: Release
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: heroku container:release -a is3-vote web 
  deployResult:
    name: Deploy Result in Heroku
    runs-on: ubuntu-latest
    needs: [deployVote]
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.6.8
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: 'is3-result'
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          appdir: "result"
  integrationTest:
    name: Test Case
    runs-on: ubuntu-latest
    needs: [deployResult, deployVote, deployWorker]
    steps:
      - uses: actions/checkout@v2
      - name: Building
        run: |
          cd ./integration-test
          npm install
      - name: testing
        run: |
          npx codeceptjs run --steps
  #SonarCloud:
  #  name: Build
  #  runs-on: ubuntu-latest
  #  #needs: [docker]
  #  steps:
  #    - uses: actions/checkout@v2
  #      with:
  #        fetch-depth: 0
  #    - name: Set up JDK 11
  #      uses: actions/setup-java@v1
  #      with:
  #        java-version: 11
  #    - name: Cache SonarCloud packages
  #      uses: actions/cache@v1
  #      with:
  #        path: ~/.sonar/cache
  #        key: ${{ runner.os }}-sonar
  #        restore-keys: ${{ runner.os }}-sonar
  #    - name: Cache Maven packages
  #      uses: actions/cache@v1
  #      with:
  #        path: ~/.m2
  #        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
  #        restore-keys: ${{ runner.os }}-m2
  #    - name: Build and analyze
  #      env:
  #        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #      run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar 

