name: ci
on:
  push:
    branches: master

jobs:
  login:
    name: Login in DockerHub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Docker Login
        env:
          DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: docker login -u $DOCKER_USER -p $DOCKERHUB_PASSWORD

  building:
      name: deploy Container
      runs-on: ubuntu-latest
      steps:
          - name: Build Result
            run: docker build -t santiagomerlo/result:latest ./result
          - name: Build Vote
            run: docker build -t santiagomerlo/vote:latest ./vote
          - name: Build Worker
            run: docker build -t santiagomerlo/worker:latest ./worker

  testing:
    name: Testing Containers
    runs-on: ubuntu-latest
    needs: building
    steps:
      - name: Testin Results
      - run: docker-compose -t ./result/docker-compose.test.yml up

  pushing:
    name: Push in DockerHub
    runs-on: ubuntu-latest
    needs: testing
    steps:
      - name: Push Result
      - run: docker push santiagomerlo/result:latest
      - name: Push Vote
      - run: docker push santiagomerlo/vote:latest
      - name: Push Worker
      - run: docker push santiagomerlo/worker:latest

