name: ci

on:
  push:
    branches: master

jobs:
  dokcer:
    name: Docker Build and Push
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Docker Login
      env:
        DOCKER_USER: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      run: docker login -u $DOCKER_USER -p $DOCKERHUB_PASSWORD
    - uses: actions/checkout@master
    - name: Build Result
      run: docker build -t santiagomerlo/result:latest ./result
    - name: Build Vote
      run: docker build -t santiagomerlo/vote:latest ./vote
    - name: Build Worker
      run: docker build -t santiagomerlo/worker:latest ./worker
    - uses: actions/checkout@master
    - name: Push Result
      run: docker push santiagomerlo/result:latest
    - name: Push Vote
      run: docker push santiagomerlo/vote:latest
    - name: Push Worker
      run: docker push santiagomerlo/worker:latest
    - name: Login to Heroku Container registry
      env: 
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:login 
    - name: Build and push
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: |
        docker tag santiagomerlo/result registry.heroku.com/is3-result/web
        docker push registry.heroku.com/is3-result/web
        heroku container:release web
        docker tag santiagomerlo/vote registry.heroku.com/is3-result/web
        docker push registry.heroku.com/is3-vote/vote
        heroku container:release web
        docker tag santiagomerlo/worker registry.heroku.com/is3-result/web
        docker push registry.heroku.com/is3-worker/worker
        heroku container:release worker
#    - name: Release
#      env:
#        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
#      run: heroku container:release -a is3-vote web 

# docker login --username=_ --password=${{ secrets.HEROKU_API_KEY }} registry.heroku.com
